.login{
    background: url("../images/pexels-george-milton-7014337.jpg");
    height: 100vh;
    background-size: cover;

}
.form_login{
    background-color: white;
    height: 100%;;
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding: 0 12vw;
    justify-content: center;
}
.logo_admin{
    display: block;
}
.logo_admin i{
    font-size: 5rem;
    text-align: center;
    padding: 20px 110px;
    color: rgb(4, 4, 139);
}
.logo_admin p{
    margin-left: 120px;
    color: green;
padding-bottom: 20px;
}
.login_detiles{
    height: 300px;
    width: 300px;
    border: 0.5px solid gray;
    padding: 20px 10px ;
}
.login_detiles h4{
    font-size: 1.3rem;
    font-weight: 600;
    padding: 10px 0;
}
.login_detiles label{
    display: block;
    margin: 7px 0;
    font-size: 1rem;
}
.login_detiles input{
    font-size: 1rem;
    width: 90%;
    padding: 4px 10px;
}
.submit{
    display: flex;
    justify-content: space-between;
}
.submit a{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 9px 0;
    border-radius: 10px;
    padding: 10px 18px;
    background-color: darkblue;
    cursor: pointer;
}
.submit p{
    margin: 19px 0;
    cursor: pointer;
}
.password i, .email i{
    border: 1px gray;
    padding: 3px 5px;
}